<!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
   <!--  <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol> -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="http://s3.amazonaws.com/FoodApp/veggies2.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>Find something good to eat</h1>
            <p></p>
              <p>
                 <div class="welcome-links-container">
              <p>
                <%= link_to "Buying? &raquo;".html_safe, search_path, {:class => "btn btn-lg btn-primary", remote: true} %>
                <%= link_to "Selling? &raquo;".html_safe, new_product_path, {:class => "btn btn-lg btn-primary", remote: true} %>
              </p>
            </div>
                <!-- <button class="browse-scroll btn btn-lg btn-primary">Start &raquo;</button> -->
              </p>
          </div>
        </div>
      </div>
     <!--  <div class="item">
        <img src="/assets/second.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>Changes to the Grid</h1>
            <p>Bootstrap 3 still features a 12-column grid, but many of the CSS class names have completely changed.</p>
            <p><a class="btn btn-large btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div> -->
<!--       <div class="item">
        <img src="/assets/third.jpg">
        <div class="container">
          <div class="carousel-caption">
            <h1>Percentage-based sizing</h1>
            <p>With "mobile-first" there is now only one percentage-based grid.</p>
            <p><a class="btn btn-large btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div> -->
    </div>
    <!-- Controls -->
   <!--  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a> -->
  </div>
  <!-- /.carousel -->


<!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container">

    <!-- Three columns of text below the carousel -->
    <div class="row marketing">
      <div class="col-md-4 text-center">
        <img class="img-circle" src="http://s3.amazonaws.com/FoodApp/tomatoes.jpg">
        <h2>A Collective Problem</h2>
        <p>From farm to fork, 40% of food is wasted in the United States. That’s $165 billion worth of food a year, and roughly 20 pounds per person each month.</p>
        <!-- <p><a class="btn btn-default" href="#">View details »</a></p> -->
      </div>
      <div class="col-md-4 text-center">
        <img class="img-circle" src="http://s3.amazonaws.com/FoodApp/tomatoes2.jpg">
        <h2>Easily Avoidable</h2>
        <p>Grocery stores in America throw away $15 billion worth of fresh fruits and vegetables each year.  Generally, these foods are cosmetically imperfect but still entirely fit to eat, like over-sized yams or oblong tomatoes.</p>
        <!-- <p><a class="btn btn-default" href="#">View details »</a></p> -->
      </div>
      <div class="col-md-4 text-center">
        <img class="img-circle" src="http://s3.amazonaws.com/FoodApp/nyc.jpg">
        <h2>At Every Level</h2>
        <p>In New York City alone, 60% of all organic waste comes from restaurants, many of which throw out day-old pastries and sandwiches that are too cumbersome to individually package and prepare for donation.</p>
        <!-- <p><a class="btn btn-default" href="#">View details »</a></p> -->
      </div>
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <!-- <hr class="featurette-divider marketing"> -->

   <!--  <div class="featurette" id="first-feature">
      <div class="welcome-links-container">
              <p>
                <%= link_to "Buying? &raquo;".html_safe, search_path, {:class => "btn btn-lg btn-primary", :id => "new-product-link", remote: true} %>

                <%= link_to "Selling? &raquo;".html_safe, new_product_path, {:class => "btn btn-lg btn-primary", :id => "new-product-link", remote: true} %>

              </p>
            </div>
      <%= gmaps4rails(@json) %>

    </div> -->

    <hr class="featurette-divider marketing">

    <div class="featurette marketing">
      <img class="featurette-image img-circle pull-left" src="http://s3.amazonaws.com/FoodApp/organic.jpg">
      <h2 class="featurette-heading">PareUp makes it easy<span class="text-muted"><br>to meaningfully reduce food waste</span></h2>
      <p class="lead">We are a social enterprise and platform for grocers, food retailers, and restaurants to sell cosmetically imperfect / surplus food to customers. </p>
    </div>

    <hr class="featurette-divider marketing">

    <div class="featurette marketing">
      <img class="featurette-image img-circle pull-right" src="http://s3.amazonaws.com/FoodApp/fruit.jpg">
      <h2 class="featurette-heading">So,<span class="text-muted"><br>how does it work?</span></h2>
      <p class="lead">Sellers list food items, the quantity available, price, and sell-by date. Buyers maintain a wishlist of items to receive notifications of food availability, or they can search specifically by item or location.  After the buyer has had a chance to inspect their items in-person, the two parties confirm the transaction via our mobile app.  </p>
    </div>

    <hr class="featurette-divider marketing">

      <div class="featurette marketing">
      <img class="featurette-image img-circle pull-left" src="http://s3.amazonaws.com/FoodApp/market.jpg">
      <h2 class="featurette-heading">What can we buy?<span class="text-muted"><br></span></h2>
      <p class="lead">Applicable food items are excess fresh produce, sealed packaged goods, and uneaten prepared foods (e.g. day-old pastries, refrigerated sandwiches), all of which are still delicious, safe, and edible goods.</p>
    </div>

    <hr class="featurette-divider marketing">

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
      <p class="pull-right marketing"><a href="#">Back to top</a></p>
    </footer>

  </div><!-- /.container -->

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43648984-3', 'pareup.com');
  ga('send', 'pageview');

</script>
