<p>
<%= form_for([@product]) do |f| %>
<%= f.text_field :name, :placeholder => "What is it?", :class => "welcome-form" %>
<%= f.text_field :description, :placeholder => "Describe it", :class => "welcome-form" %>
<%= f.text_field :location, :placeholder => "Where are you?", :class => "welcome-form" %>
<%= f.text_field :price, :placeholder => "How much is it?", :class => "welcome-form" %>
<%= f.text_field :storage, :placeholder => "How have you stored it?", :class => "welcome-form" %>
<%= f.text_field :pickup, :placeholder => "When to pick it up?", :class => "welcome-form" %>

<%= f.submit "Submit", {:class => "btn btn-primary"} %>
<% end %>
</p>