<div class="col-md-1"></div>
<div class="col-md-5">
<% @products.each do |product| %>
  <div class="well">

    <div class="pull-left">
      <img class="media-object thumbnail-preview" src='<%= product.image.url %>' alt="..." height=100px>
    </div>
    <h3><%= product.name %></h3>
    <h4><%= product.location %>&nbsp$<%= product.price %></h4>
    <div class="pull-right">
      <a href="/products/<%= product.id %>" class="btn btn-primary">Select</a>
    </div>
    <p><%= product.description %></p>

  </div>

<% end %>
</div>
<div class="col-md-2"></div>
<div class="col-md-4"><%= gmaps4rails(@json) %></div>
